In [1]:
#Predict smallest Number

#!conda install -n mldds -c anaconda joblib
import os
import warnings
warnings.filterwarnings('ignore')
warnings.filterwarnings(action='once')

import multiprocessing
num_cores = multiprocessing.cpu_count()

print("Cores: ", num_cores)

import time
import keras
from sklearn.preprocessing import LabelEncoder, StandardScaler
# import tensorflow as tf
# config = tf.ConfigProto( device_count = {'GPU': 0 , 'CPU': num_cores} )
# sess = tf.Session(config=config) 
# keras.backend.set_session(sess)

os.environ["KERAS_BACKEND"] = "plaidml.keras.backend"

os.environ['TF_CPP_MIN_LOG_LEVEL'] = '3'

from MyTotoResearchv4 import *

Cores:  6

/opt/conda/lib/python3.6/importlib/_bootstrap.py:219: ImportWarning: can't resolve package from __spec__ or __package__, falling back on __name__ and __path__
  return f(*args, **kwds)
Using TensorFlow backend.
/opt/conda/lib/python3.6/importlib/_bootstrap.py:219: ImportWarning: can't resolve package from __spec__ or __package__, falling back on __name__ and __path__
  return f(*args, **kwds)
/opt/conda/lib/python3.6/site-packages/tensorflow/python/util/tf_inspect.py:75: DeprecationWarning: inspect.getargspec() is deprecated, use inspect.signature() or inspect.getfullargspec()
  return _inspect.getargspec(target)
/opt/conda/lib/python3.6/site-packages/tensorflow/python/keras/backend.py:4900: ResourceWarning: unclosed file <_io.TextIOWrapper name='/home/jovyan/.keras/keras.json' mode='r' encoding='UTF-8'>
  _config = json.load(open(_config_path))
/opt/conda/lib/python3.6/importlib/_bootstrap.py:219: ImportWarning: can't resolve package from __spec__ or __package__, falling back on __name__ and __path__
  return f(*args, **kwds)
/opt/conda/lib/python3.6/importlib/_bootstrap.py:219: ImportWarning: can't resolve package from __spec__ or __package__, falling back on __name__ and __path__
  return f(*args, **kwds)
/opt/conda/lib/python3.6/importlib/_bootstrap.py:219: ImportWarning: can't resolve package from __spec__ or __package__, falling back on __name__ and __path__
  return f(*args, **kwds)

Done.

In [2]:
def getAllData(df):
    drop_cols = ['T', 'D', 'N1','N2','N3','N4','N5','N6','N7','L','M','S','R','E','A','V' ,'J','U']
    drop_cols = ['D', 'N1','N2','N3','N4','N5','N6','N7', 'Ph', 'il', 'age', 'dist', 'adia', 'sundist', 'sunadia' ]

#     Ph         1521 non-null float64
# il         1521 non-null float64
# age        1521 non-null float64
# dist       1521 non-null float64
# adia       1521 non-null float64
# sundist    1521 non-null float64
# sunadia    1521 non-null float64

#    drop_cols = ['T', 'D', 'M','S','R','E','A','V' ,'J','U']


    X = df.drop(drop_cols, axis=1)

#     df1 = df[['N1','N2','N3','N4','N5','N6','N7']]
#     X['smallest'] = df1.min(axis=1)
#     X['biggest'] = df1.max(axis=1)

    return X


def getSmallestN(df):
    df1 = df[['N1','N2','N3','N4','N5','N6','N7']]
    y = pd.DataFrame(index=df.index)
    y['SN'] = df1.min(axis=1)
    return y ;

def getBiggestN(df):
    df1 = df[['N1','N2','N3','N4','N5','N6','N7']]
    y = pd.DataFrame(index=df.index)
    y['LN'] = df1.max(axis=1)
    return y ;

In [3]:
seed = 42

mtr = MyTotoResearch(algo_no=1)
lresult, df = mtr.load_totodata()

X = mtr.modified_dataset(getAllData(df)) #

#X

#getSmallestN(df)
#getBiggestN(df)

Loaded MyTotoResearch algo_no:  1
1521
             D  N1  N2  N3  N4  N5  N6  N7
0     20040212  42  36  29  21  18  10   3
1     20040216  45  41  40  39  22   8   6
2     20040219  36  35  21  17  15   8   5
3     20040223  39  38  28  23  21  20   6
4     20040226  44  40  26  25  16  10   3
5     20040301  29  28  27  25  22  20  14
6     20040304  43  41  40  25   7   6   2
7     20040308  44  42  21  19  18  17   2
8     20040311  43  36  34  26  24  18  10
9     20040315  45  35  32  16  13   9   1
10    20040318  43  42  40  31  21  17   6
11    20040322  35  28  27  23  22  21  16
12    20040325  43  38  37  20  18  13   6
13    20040329  32  24  19   7   6   2   1
14    20040401  40  39  31  28  27   9   3
15    20040405  33  16  15  13  12   7   4
16    20040408  39  36  33  30  25  11   4
17    20040412  37  32  29  16  10   8   2
18    20040415  34  32  26  19   9   3   2
19    20040419  45  39  36  26  18  15  10
20    20040422  37  26  23  14   8   6   5
21    20040426  41  37  25  24  18  15   7
22    20040429  43  32  31  22  18  10   6
23    20040503  37  33  20  12   9   4   3
24    20040506  34  30  27  23  20  11   5
25    20040510  41  21  19  16   8   6   2
26    20040513  45  35  24  21  16  13  11
27    20040517  28  21  17  13  10   6   2
28    20040520  45  36  32  25  23  20  17
29    20040524  44  40  33  21  16   7   6
...        ...  ..  ..  ..  ..  ..  ..  ..
1491  20180827  38  29  26  24  16   6   5
1492  20180823  41  39  30  23  19   3   2
1493  20180820  42  40  38  25  10   9   2
1494  20180816  36  33  32  25  23  22  20
1495  20180813  36  22  17  16   6   3   1
1496  20180809  42  39  28  23  20  16  13
1497  20180806  40  36  27  20  18  15   7
1498  20180802  46  41  35  27  15  10   1
1499  20180730  43  41  20  19  10   8   7
1500  20180726  40  37  28  17  13   9   1
1501  20180723  40  39  28  26  23  12   2
1502  20180719  46  45  37  35  23  14  13
1503  20180716  47  32  24  22  19   8   4
1504  20180712  41  40  32  25  15  10   4
1505  20180709  43  39  38  33  31  23   6
1506  20180705  39  34  32  30  28  11   8
1507  20180702  38  35  33  26  23  13  12
1508  20180625  48  44  38  25   9   3   2
1509  20180621  46  35  30  24  15   6   4
1510  20180618  43  26  25  23  22  15  11
1511  20180614  48  42  35  31  29   4   1
1512  20180611  49  44  37  34  30  25  16
1513  20180607  42  39  37  31  29  20  12
1514  20180604  45  43  37  31  27  22  20
1515  20180531  49  47  33  26  24  13  11
1516  20180528  44  30  28  27   9   5   2
1517  20180524  42  36  34  26  25  16  11
1518  20180521  44  37  30  17  16  10   8
1519  20180517  37  35  29  25  21  13   7
1520  20180514  49  46  45  29  24  17   5

[1521 rows x 8 columns]

        LN
0     42.0
1     45.0
2     36.0
3     39.0
4     44.0
5     29.0
6     43.0
7     44.0
8     43.0
9     45.0
10    43.0
11    35.0
12    43.0
13    32.0
14    40.0
15    33.0
16    39.0
17    37.0
18    34.0
19    45.0
20    37.0
21    41.0
22    43.0
23    37.0
24    34.0
25    41.0
26    45.0
27    28.0
28    45.0
29    44.0
...    ...
1491  38.0
1492  41.0
1493  42.0
1494  36.0
1495  36.0
1496  42.0
1497  40.0
1498  46.0
1499  43.0
1500  40.0
1501  40.0
1502  46.0
1503  47.0
1504  41.0
1505  43.0
1506  39.0
1507  38.0
1508  48.0
1509  46.0
1510  43.0
1511  48.0
1512  49.0
1513  42.0
1514  45.0
1515  49.0
1516  44.0
1517  42.0
1518  44.0
1519  37.0
1520  49.0

[1521 rows x 1 columns]

In [4]:
# #X.feature_names
# #X = df.drop(drop_cols, axis=1)
# df1 = df[['N1','N2','N3','N4','N5','N6','N7']]
# y = pd.DataFrame()
# y['Smallest'] = df1.min(axis=1)
# l_encoder = LabelEncoder()
# y['Smallest'] = l_encoder.fit_transform(y['Smallest'])

# y

# t_X = pd.DataFrame()
# t_X['M'] = (X['S']+X['M'])%360.0

# scaler = StandardScaler()
# scaler.fit(t_X)

# #X_scaled = scaler.transform(t_X)

# from sklearn.svm import SVC
# clf = SVC(max_iter=50000, tol=1e-5,
#                      random_state=8, gamma='scale')

# from sklearn.linear_model import LinearRegression
# clf = LinearRegression()

# from sklearn.linear_model import SGDClassifier

# # clf = SGDClassifier(alpha=0.0001, average=False, class_weight=None,
# #        early_stopping=False, epsilon=0.1, eta0=0.0, fit_intercept=True,
# #        l1_ratio=0.15, learning_rate='optimal', loss='hinge', max_iter=10000,
# #        n_iter=None, n_iter_no_change=5, n_jobs=None, penalty='l2',
# #        power_t=0.5, random_state=None, shuffle=True, tol=0.001,
# #        validation_fraction=0.1, verbose=0, warm_start=False)

# clf.fit(X_scaled, y)

In [ ]:
# plt.scatter(X_scaled, y,color='g')
# #plt.plot(X, clf.predict(t_X),color='b')

# #plt.scatter(y, X, color='r')
# #plt.plot(y, X, color='r')

In [ ]:
# df['Predicted'] = clf.predict(X_scaled)
# df['Y'] = y
# #df['Y'] = l_encoder.inverse_transform(y)


# print(df.loc[:,['Predicted', 'Y']])

In [ ]:
#https://www.learndatasci.com/tutorials/predicting-housing-prices-linear-regression-using-python-pandas-statsmodels/
    
# from IPython.display import HTML, display

# import statsmodels.api as sm
# from statsmodels.formula.api import ols
# from statsmodels.sandbox.regression.predstd import wls_prediction_std

# import matplotlib.pyplot as plt
# import seaborn as sns
# %matplotlib inline
# sns.set_style("darkgrid")

# X['Smallest'] = df1.min(axis=1)


# # fit our model with .fit() and show results
# # we use statsmodels' formula API to invoke the syntax below,
# # where we write out the formula using ~
# p_model = ols("Smallest ~ L + S + M + R + A + E + V + J", data=X).fit()

# # summarize our model
# p_model_summary = p_model.summary()

# # convert our table to HTML and add colors to headers for explanatory purposes
# HTML(
# (p_model_summary
#     .as_html()
#     .replace('<th>  Adj. R-squared:    </th>', '<th style="background-color:#aec7e8;"> Adj. R-squared: </th>')
#     .replace('<th>coef</th>', '<th style="background-color:#ffbb78;">coef</th>')
#     .replace('<th>std err</th>', '<th style="background-color:#c7e9c0;">std err</th>')
#     .replace('<th>P>|t|</th>', '<th style="background-color:#bcbddc;">P>|t|</th>')
#     .replace('<th>[0.025</th>    <th>0.975]</th>', '<th style="background-color:#ff9896;">[0.025</th>    <th style="background-color:#ff9896;">0.975]</th>'))
# )

# # This produces our four regression plots for total_unemployed

# fig = plt.figure(figsize=(15,8))

# # pass in the model as the first parameter, then specify the 
# # predictor variable we want to analyze
# fig = plt.figure(figsize=(20,12))
# fig = sm.graphics.plot_partregress_grid(p_model, fig=fig)

# X

In [ ]:
# X.loc[:,['V']]
# X[X['J'] < 0] 
# from sklearn import linear_model
# clf = linear_model.Ridge(alpha=.5)
# clf = linear_model.Lasso()
# clf = linear_model.BayesianRidge()

# clf.fit(X_scaled, y)
# df['Predicted'] = clf.predict(X_scaled)
# df['Y'] = y
# #df['Y'] = l_encoder.inverse_transform(y)


# print(df.loc[:,['Predicted', 'Y']])
#df.loc[:,['T','N1','N2']]

In [ ]:
from sklearn.preprocessing import PolynomialFeatures
from sklearn.linear_model import LinearRegression
from sklearn.pipeline import Pipeline
import numpy as np

scaler = StandardScaler()
scaler.fit(X.drop('T',axis=1))

X_scaled = scaler.transform(X.drop('T',axis=1))
X_scaled = X

l_encoder = LabelEncoder()
result = pd.DataFrame(index=df.index)
result['T'] = df['T']

test_data = mtr.get_test_data()

import array as arr

model_store = []

for i in range(1,8):
    y = pd.DataFrame(index=df.index)
    y['N'+str(i)] = df['N'+str(i)]
#    y['N'+str(i)] = l_encoder.fit_transform(df['N'+str(i)])
    model = Pipeline([('poly', PolynomialFeatures(degree=8)),
                        ('linear', LinearRegression(fit_intercept=False))])
    #                   ('linear', LinearRegression())])
    model.fit(X_scaled, y)
    model_store.append(model)
    result['N'+str(i)+'_P'] = model.predict(X_scaled).round()
#     result['N'+str(i)+'_P0'] = result['N'+str(i)+'_P']-1
#     result['N'+str(i)+'_P1'] = result['N'+str(i)+'_P']+1



#print(result)

#df['Predicted'] = model.predict(X_scaled)
#df['Y'] = y
#df['Y'] = l_encoder.inverse_transform(y)

#print(df.loc[:,['Predicted', 'Y']])

In [ ]:
columns = result.columns #['N'+str(i)+'_P' for i in range(1,8)]
print(result.columns)
my_prediction = pd.DataFrame(result, columns=columns)

for col in columns:
    my_prediction[col] = my_prediction[col].apply(lambda x: int(x) if x == x else "")
    
#print(my_prediction)
print ( "Accuracy: ",  mtr.getAccuracyCount(np.array(my_prediction)))
mtr.plot_matched_counts(my_prediction.values)

#mtr.print_predictions(my_prediction.values)

In [ ]:
test_data = mtr.get_test_data()
#X_test = mtr.modified_dataset(getAllData(test_data)) #
X_test = test_data[X.columns]
#scaler.fit(X_test)
X_test_scaled = scaler.transform(X_test.drop('T',axis=1))
#[X.columns])
X_test_scaled = X_test
#[X.columns]
test_result = pd.DataFrame(index=X_test.index)
test_result['T'] = test_data['T']

for i in range(1,8):
    test_result['N'+str(i)+'_P'] = model_store[i-1].predict(X_test_scaled).round()
#     test_result['N'+str(i)+'_P0'] = test_result['N'+str(i)+'_P']-1
#     test_result['N'+str(i)+'_P1'] = test_result['N'+str(i)+'_P']+1


#mtr.print_result(test_result)
mtr.print_predictions(test_result.astype(int))